
.testimonial-section {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.testimonial-section h2 {
    margin:auto;
    font-size: 2.2rem;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0px 30px;
}

.testimonial {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    text-align: center;
}

.testimonial:hover {
    background-color: #e2e1e1;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial p {
    font-style: italic;
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.testimonial h3 {
    font-weight: bold;
    font-size: 1rem;
}

/* Responsive: Stack testimonials on smaller screens */
@media (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
}